* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b7a7ff;
}

.cartao {
    width: 260px;
    height: 200px;
}

.cartao-imagem {
    width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: hsl(260, 100%, 92%);
}

main {
    flex: 1;
}

.cabecalho-link {
    color: #2255ff;
    text-decoration: none;
}

h1 {
    color: #2255ff;
    font-size: 24px;
}

footer {
    background-color: #b7a7ff;
    padding: 15px 25px;
    color: #2255ff;
}